<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.scott.serviceDiscovery"
        version="0.2.0">

  <name>serviceDiscovery</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/serviceDiscovery.js" target="js/serviceDiscovery.js"/>

  <js-module src="www/serviceDiscovery.js" name="serviceDiscovery">
    <clobbers target="serviceDiscovery" />
  </js-module>


  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="serviceDiscovery">
        <param name="android-package" value="com.scott.plugin.serviceDiscovery"/>
      </feature>
    </config-file>

    <source-file src="src/android/serviceDiscovery.java" target-dir="src/com/scott/plugin/"/>
    <source-file src="src/android/cordovaSSDP.java" target-dir="src/com/scott/plugin/"/>
    <!-- Requires 3rd party HTTP lib -->
    <framework src="com.loopj.android:android-async-http:1.4.9" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="serviceDiscovery">
          <param name="ios-package" value="serviceDiscovery" onload="true" />
        </feature>
    </config-file>

    <header-file src="src/ios/serviceDiscovery.h" />
    <source-file src="src/ios/serviceDiscovery.m" />
  </platform>



</plugin>
